
<form asp-action="ImageUpload" class="dropzone" id="imageDropzone">
    <div class="dz-preview dz-file-preview"></div>
    
    <span class="dz-message"></span>
    <div id="editor">
```js
function foo(items) {
var x = "All this is syntax highlighted";
return x;
}
```

Some example **markdown** stuff here.
    </div>
</form>

@section Scripts{ 
<script src="~/lib/ace/ace.js" type="text/javascript"></script>
<script type="text/javascript">
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/markdown");

    Dropzone.options.imageDropzone = {
        clickable: false,
        previewTemplate: '<div class="alert alert-info"><span data-dz-name></span>: <span data-dz-size></span></div>',
        acceptedFiles: "image/*",
        init: function(){
            this.on("success", function(file, response) {
                var imageLink = '![alt text]('+ response.path +' "uploaded image")'
                editor.insert(imageLink);
            });
        }
    };
</script>
}